#autounit .content:first-child .form{
    font-size: 0;
}

#autounit .form{
    border-top: 1px solid #f4f4f4;
}

#autounit .form label{
    cursor: pointer;
    width: 50%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 26px;
    letter-spacing: -1px;
    display: inline-block;
    font-weight: 700;
    color: #e02343;
    border: 1px solid #f7f7f7;
    box-sizing: border-box;
    vertical-align: middle;
}

#autounit .form input:checked+label{
    background-color: #e02343;
    color: white;
    box-sizing: border-box;
    position: relative;
}

#autounit .content:first-child .form input{
    display: none;
}